<div class="row">
	<div class="columns small-12">
		<div id="tracker" class="progress radius">
			<span class="meter" style="width:70%;"></span>
		</div>
		<h4 class="text-center subheader">% Saved</h4>
	</div>
</div>
<div class="row">
	<div class="columns small-12">
		<h3>Weekly Re-cap</h3>
		<div id="kids-status"></div>
	</div>
</div>